[submodule "quadratic-sandwich-contracts/lib/ds-test"]
	path = quadratic-sandwich-contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
